*~
*.bak
*.log
*.parlocs
*.delayed
*-draft.SFM
*-draft.txt
*.notepages
*.precommit
*.picpages
*.fontusage
NestedStyles*.sty
__pycache__/
temp/
/python/dist/
/python/build/
/python/lib/PTXprint.egg-info/
/wine/
/ptx2pdf_wine/
/dev/
/bugs/
dist/
build/
keepDIST/
PrintDraft/
/msys64/
tmpPics/
tmpPicLists/
/src_*/
/test/projects/*.sfm
/test/projects/*/local/
/test/**/*.xdv
/examples/**/*.pdf
*.zip
/crowdin/
/cygwin/
/docs/installation/
/fonts/
/Output/
/pictures/
/projects/
/projects2/
/results/
/specials/
/templates/
/training/
/bugs/
/ucd/
/wine*/
docs/**/*.pdf
ptxprint.sty
ptxprint_crowdin.po
AdwaitaIcons.txt
Build4WindowsLOCAL.bat
RunPTXprint.bat
PrintAllProjects.bat
src/DiglotUIsettings.txt
*.bz2
*.pickle
unique.id

/examples/diglot/Gal*.usfm
/examples/diglot/78-*.usfm
/examples/diglot/*.zip
/examples/diglot/merged*.usfm
/examples/testcases/merging/merged*.usfm
/examples/testcases/plusmarker/*_web.usfm
/examples/**/toc-auto.tex



