*~
*.bak
*.log
*.parlocs
*.delayed
*-draft.SFM
*-draft.txt
*.notepages
*.precommit
*.picpages
*.fontusage
NestedStyles*.sty
__pycache__/
temp/
/python/dist/
/python/build/
/python/lib/PTXprint.egg-info/
/wine/
/ptx2pdf_wine/
/dev/
/bugs/
dist/
build/
keepDIST/
PrintDraft/
/msys64/
tmpPics/
tmpPicLists/
/src_*/
/test/projects/*.sfm
/test/projects/*/local/ptxprint/*.pdf
/test/**/*.xdv
/examples/**/*.pdf
*.zip
/cygwin/
/fonts/
/projects/
/bugs/
/ucd/
docs/**/*.pdf
ptxprint.sty
ptxprint_crowdin.po
AdwaitaIcons.txt
Build4WindowsLOCAL.bat
RunPTXprint.bat
PrintAllProjects.bat
src/DiglotUIsettings.txt
