[Desktop Entry]
Name=PTXprint
Comment= Bible Layout For Everyone (GUI for XeTeX macros for Paratext)
Exec=ptxprint
Icon=ptxprint
TryExec=ptxprint
Terminal=false
Type=Application
Categories=Application;Publishing;Education;Translation;Spirituality
