name: Windows installer build
on: 
  push:
    branches: [poc-github-actions]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Setup msys2 environment
      id: msys2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: false
        release: false
        cache: true
        pacboy: >-
          adwaita-icon-theme:p
          gcc:p
          glade:p
          glib2:p
          gtk3:p
          gtksourceview3:p
          libffi:p
          poppler:p
          python:p
          python-cairo:p
          python-fonttools:p
          python-gobject:p
          python-lxml:p
          python-numpy:p
          python-pillow:p
          python-pip:p
          python-pyopenssl:p
          python-regex:p

    - name: Setup PyInstaller
      run: pip install --upgrade pyinstaller

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup ptxprint dependencies
      shell: msys2 {0}
      run: "pip install --only-binary=:all: --break-system-packages .[gui]"

    - name: Build Windows executable
      shell: msys2 {0}
      env:
        MSYS2_DIR: ${{ steps.msys2.outputs.msys2-location }}\${{env.MSYSTEM}}
        LOG_LEVEL: ${{ runner.debug == '1' && 'DEBUG' || 'INFO' }}
      run: |
        pyinstaller --log-level %LOG_LEVEL% ptxprint.spec
        mkdir dist\ptxprint\share
        xcopy /s /i /y /q %MSYS2_DIR%\share\locale dist\ptxprint\share\locale
        xcopy /s /i /y /q %MSYS2_DIR%\share\fontconfig dist\ptxprint\share\fontconfig
        xcopy /s /i /y /q %MSYS2_DIR%\share\glib-2.0 dist\ptxprint\share\glib-2.0
        xcopy /s /i /y /q %MSYS2_DIR%\share\themes dist\ptxprint\share\themes
        xcopy /s /i /y /q python\lib\ptxprint\mo dist\ptxprint\mo
        xcopy /s /i /y /q python\graphics\icons dist\ptxprint\share\icons
        python python\scripts\getstockicons -f inno -s dist\ptxprint -d "{app}" -i applications-system-symbolic -i changes-allow -i changes-prevent -i document-print-symbolic -i document-revert -i document-save-as-symbolic -i edit-clear -i edit-clear-rtl -i edit-clear-symbolic-rtl -i emblem-documents -i view-list-bullet-symbolic -i folder-documents -i folder-download -i folder-music -i folder-new-symbolic -i folder-open -i folder-open-symbolic -i folder-pictures-symbolic -i folder-videos-symbolic -i format-justify-fill -i go-bottom -i go-first-symbolic -i go-previous-symbolic -i go-next-symbolic -i go-last-symbolic -i go-top -i help-about-symbolic -i list-add -i list-remove -i media-seek-backward-symbolic -i media-seek-forward-symbolic -i object-select -i open-menu -i pan-down -i pan-end -i pan-up -i preferences-system-sharing -i printer -i software-update-available -i system-run -i user-desktop -i user-home -i x-office-document-symbolic -i text-x-generic-symbolic -i view-refresh-symbolic -i view-dual -i view-grid -i view-fullscreen-symbolic -i media-seek-backward-symbolic-rtl.symbolic -i media-seek-forward-symbolic-rtl.symbolic -i process-working-symbolic.svg python\lib\ptxprint\ptxprint.glade AdwaitaIcons.txt
        ISCC InnoSetupPTXprint.iss

    - name: Sign executable
      uses: sillsdev/codesign/trusted-signing-action@v3
      with:
        credentials: ${{ secrets.TRUSTED_SIGNING_CREDENTIALS }}
        files-folder: Output/
        files-folder-filter: exe
        description:  'Bible Publication Software'
        description-url: 'https://software.sil.org/ptxprint/'
    
    - name: Upload signed exe
      uses: actions/upload-artifact@v4
      with:
        name: SetupPTXPrint.exe
        path: Output/SetupPTXPrint*.exe
        if-no-files-found: error
        retention-days: 7
